body {
    background-color: #E5E5E5;
    margin: 0;
    font-family: Ubuntu, 'Courier New', Courier, monospace;
    color: #3C5AA8;
}
.container {
    max-width: 500px;
    margin: 50px auto 0 auto;
}
h1 {
    font-weight: 400;
    font-size: 20px;
    opacity: 40%;
}
h2 {
    font-weight: 400;
    font-size: 18px;
    opacity: 40%;
}
.dates-table {
    width: 100%;
    /*border-width: 1px;
    border-style: dotted;*/
}
.dates-table-header {
    font-size: 14px;
    opacity: 40%;
    padding: 8px;
}
.dates-table-row {
    font-size: 14px;
    color: #5D6E97;
    background-color: #FFF;
    padding: 8px;
    margin-bottom: 2px;
    border-radius: 5px;
}
.dates-table-row input {
    /*display: inline-block;*/
    box-sizing: border-box;
}
.cell {
    display: inline-block;
}
form, .dates-table-header, .read-only-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.read-only-row span, .dates-table-header span {
    /*display: inline-block;*/
    box-sizing: border-box;
    padding-left: 8px;
}
.col0 {
    width: 15%;
}
.col1, .col2 {
    width: 30%;
}
.error {
    color: red;
    padding-top: 8px;
}
button {
    color: white;
    background-color: #4A9DFF;
    border-radius: 10px;
    padding: 8px 32px;
    width: 9em;
}
button:disabled {
    opacity: 27%;
}
div.buttons {
    padding: 8px;
}
div.info {
    padding-top: 8px;
}